{% extends 'main_page.html' %}

{% block title %}
    {{ category.name }}
{% endblock %}


{% block content %}

{% for cat in subcategory %}
<div class="col-md-3 mb-3">
    <div class="card" style="width: 10rem;">
        <a href="{% url 'subcategory_detail' cat.id %}">
            <img src="{{ cat.img.url }}" class=" card-img-bottom w-30" alt="...">
        </a>
<!--        <img src="{{ cat.img.url }}" class=" card-img-bottom w-30" alt="..." >-->
        <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--                content.</p>-->
            <a href="{% url 'subcategory_detail' cat.id %}" class="btn btn-outline-success m-3" >{{ cat.name }}</a>
        </div>
    </div>
</div>

{% endfor %}



{% endblock %}