{% extends 'main_page.html' %}


{% block title %}
    Niga Detail
{% endblock %}


{% block cards %}

{% for category in subcategory_detail %}
<div class="col p-1">
    <div class="card text-center" style="width: 18rem;">
        <img src="{{ category.img.url }}" class="card-img-top" alt="...">
        <div class="card-body">
        <h6 class="card-title">{{ category.name}}</h6>
        <p class="card-text">{{ category.price }}</p>
        <a href="#" class="btn btn-primary">В корзину</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}