{% load static %}

{% comment %} {% load cart_tag %}
{% user_cart request as carts %}  {% endcomment %}

<div class="card mb-3 text-bg-light shadow-lg">
    {% for cart in carts %}
        <div class="card-header">
            <h5 class="card-title">{{ cart.product.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row text-center">
                    <div class="col p-0">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a id='decrement' href="{% url "cart_decrement" cart.product.id %}" class='btn btn-dark'>-</a>
                                    {% csrf_token %}
                            </span>
                            <input id='quantity' type="text" class="form-control number" value="{{ cart.quantity }}"
                                readonly>
                            <span class="input-group-btn">
                                <a href="{% url "cart_add" cart.product.id %}" class='btn btn-dark'>+</a>
                                    {% csrf_token %}
                            </span>
                        </div>
                    </div>
                    <div class="col p-0">
                        <p></p>
                    </div>
                    <div class="col p-0"><strong> {{ cart.products_price }} Руб</strong></div>
                    <div class="col p-0">
                        <a href="{% url "cart_remove" cart.id %}" class="remove-from-cart"
                        data-cart-id="{{ cart.id }}">
                            {% csrf_token %}
                            <img class="mx-1" src="{% static "image/trash3-fill.svg" %}"
                                alt="Catalog Icon" width="16" height="16">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
</div>
<div class="card mb-3 shadow-lg" id='cart-item-container'>
    <div class="card-footer">
        <p class="float-left">Итого <strong>{{ carts.total_quantity }}</strong> товар(а) на сумму</p>
        <h4 class="float-left"><strong>{{ carts.total_price }} Руб</strong></h4>
    </div>
</div>
